# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Virtual environment folders (if using virtualenv or venv)
venv/
.env/
.env.bak/

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook files
.ipynb_checkpoints/

# Python testing files
nosetests.xml
coverage.xml
*.cover
*.tox/
*.nox/
*.coverage/
*.hypothesis/

# MyPy
.mypy_cache/

# Pylint
.pylint.d/

# Log files
*.log

# System files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Secrets and sensitive data
*.env
*.json
*.yaml

# SQLite database files (if used)
*.db
*.sqlite3
